<!-- The above form looks like this -->
<form>
    <div class="row">
        <div class="six columns">
            <label for="exampleEmailInput">UDID</label>
            <input class="u-full-width" placeholder="" id="exampleEmailInput">
        </div>
        
    </div>
    
    <div class="row">
        <div class="six columns">
            <label for="exampleEmailInput">Device Name</label>
            <input class="u-full-width" placeholder="" id="exampleDeviceName">
                </div>
        
    </div>
    
    
    <input class="button-primary" type="submit" value="Submit">
</form>

<!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

<!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->
